@import "../../global.scss";

.movie {
  width: 200px;
  margin: 20px;
  background-color: $mainLighter;
  border-radius: 10px;
  box-shadow: 4px 4px 7px $mainLighter;
  overflow: hidden;
  position: relative;

  @include mobile {
    width: 160px;
    margin: 10px;
  }

  * {
    font-family: "Josefin Sans", sans-serif;
  }

  img {
    max-width: 100%;
  }

  .movie-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 80px;
    justify-content: space-evenly;
    h4 {
      margin-bottom: 3px;
    }
    span {
      margin-top: 2px;
      border: 1px solid black;
      border-radius: 3px;
      padding: 2px 8px;
    }
  }

  .movie-over {
    background-color: white;
    position: absolute;
    color: black;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    transform: translateY(100%);
    transition: all 1s ease-in-out;
    max-height: 96%;
    overflow: hidden;
    @include mobile {
      max-height: 95%;
    }
    h3 {
      margin-bottom: 3px;
    }
  }

  &:hover > .movie-over {
    transition: all 1s ease-in-out;
    transform: translateY(0%);
  }
}
