.main-div {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #c56133;
}

@media (max-width: 868px) {
  .main-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-div .left-div {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 868px) {
  .main-div .left-div {
    margin: 10px;
  }
}

.main-div .left-div .left-cont {
  background-color: white;
  border-radius: 30px;
  height: 95%;
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 868px) {
  .main-div .left-div .left-cont {
    height: 100%;
    width: 100%;
  }
}

.main-div .left-div .left-cont .titllee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-div .left-div .left-cont::-webkit-scrollbar {
  display: none;
}

.main-div .right-div {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 868px) {
  .main-div .right-div {
    margin: 10px;
  }
}

.main-div .right-div .right-cont {
  background-color: white;
  border-radius: 30px;
  height: 95%;
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 868px) {
  .main-div .right-div .right-cont {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 868px) {
  .main-div .right-div .right-cont form {
    margin-top: 5px;
    height: 90px;
  }
}

@media (max-width: 868px) {
  .main-div .right-div .right-cont .input-value {
    width: 200px;
    height: 30px;
    margin: 0;
  }
}

.main-div .right-div .right-cont h3 {
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 868px) {
  .main-div .right-div .right-cont h3 {
    font-size: 18px;
    margin: 2px;
    padding: 6px 0;
    overflow: hidden;
  }
}

.main-div .right-div .right-cont .text {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 25px;
}

@media (max-width: 868px) {
  .main-div .right-div .right-cont .text {
    margin: 0;
  }
}

.main-div .right-div .right-cont .poki-details {
  border: 2px solid black;
  border-radius: 20px;
  width: 300px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 868px) {
  .main-div .right-div .right-cont .poki-details {
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3px;
  }
}

.main-div .right-div .right-cont .poki-details h2 {
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 868px) {
  .main-div .right-div .right-cont .poki-details h2 {
    font-size: 20px;
  }
}

.main-div .input-value {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
  border-radius: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.main-div .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 868px) {
  .main-div .container {
    width: 210px;
    height: 200px;
    margin-top: -80px;
  }
}

.main-div .container .img {
  height: 15em;
}

@media (max-width: 868px) {
  .main-div .container .img {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=pokemonlist.css.map */