$mainColor: rgb(197, 97, 51);
$mainLighter: rgb(228, 129, 84);
$secondColor: #2d1a53;
$workBackcolor: crimson;

$width: 868px;
$widthTwo: 1280px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$widthTwo}) {
    @content;
  }
}
// font-family: "Josefin Sans", sans-serif;
