.works {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works .hovertxt {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
  cursor: default;
}

@media (max-width: 868px) {
  .works .hovertxt {
    font-size: 15px;
    overflow: hidden;
  }
}

.works h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  padding: 15px;
  letter-spacing: 7px;
  cursor: default;
}

@media (max-width: 868px) {
  .works h1 {
    font-size: 35px;
    overflow: hidden;
  }
}

.works .container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

@media (max-width: 868px) {
  .works .container {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 40%;
  }
}

.works .container .item {
  width: 200px;
  height: 130px;
  border-radius: 20px;
  margin: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: relative;
  cursor: pointer;
}

@media (max-width: 868px) {
  .works .container .item {
    width: 110px;
    height: 90px;
  }
}

.works .container .item h3 {
  position: absolute;
  font-size: 20px;
}

.works .container .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.works .container .item:hover {
  background-color: #c56133;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.works .container .item:hover img {
  opacity: 0.7;
  z-index: 0;
}

.works .text-box {
  text-align: center;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.works .text-box h4 {
  width: 70%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4em;
}

@media (max-width: 868px) {
  .works .text-box h4 {
    width: 95%;
    font-size: 13px;
    line-height: 1.4em;
  }
}

.works .arrow-tools {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

@media (max-width: 868px) {
  .works .arrow-tools {
    overflow: hidden;
  }
}

.works .arrow-tools .check {
  width: 120px;
  text-align: center;
  position: absolute;
  bottom: 25px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 6;
  opacity: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  cursor: default;
}

.works .arrow-tools .arrow {
  margin-top: 45px;
  z-index: 10;
}

.works .arrow-tools .arrow:hover > .check {
  bottom: 25px;
  right: 42.5%;
  -webkit-transform: translateX(42.5%);
          transform: translateX(42.5%);
  opacity: 1;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  cursor: default;
}

@media (max-width: 868px) {
  .works .arrow-tools .arrow:hover > .check {
    display: none;
  }
}

.works .arrow-tools .arrow img {
  width: 130px;
  position: relative;
  -webkit-animation: arrows 1s ease;
          animation: arrows 1s ease;
}

@media (max-width: 868px) {
  .works .arrow-tools .arrow img {
    width: 60px;
    margin-bottom: 23px;
  }
}

@-webkit-keyframes arrows {
  0% {
    bottom: 80px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes arrows {
  0% {
    bottom: 80px;
  }
  100% {
    bottom: 0px;
  }
}
/*# sourceMappingURL=aboutme.css.map */