.works {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  padding: 15px;
  letter-spacing: 7px;
  cursor: default;
}

.works ul {
  margin: 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works ul li {
  font-size: 20px;
  margin-right: 15px;
  padding: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.works ul li:hover {
  text-shadow: 1.3px 1.3px 1.5px #c56133;
}

.works ul li.active {
  color: #c56133;
  border: 2px solid #c56133;
  border-radius: 12px;
  cursor: pointer;
}

.works ul li.active:hover {
  background-color: #c56133;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.works .container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.works .container .item {
  width: 250px;
  height: 180px;
  border-radius: 20px;
  margin: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: relative;
  cursor: pointer;
}

.works .container .item h3 {
  position: absolute;
  font-size: 20px;
}

.works .container .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.works .container .item:hover {
  background-color: #c56133;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.works .container .item:hover img {
  opacity: 0.7;
  z-index: 0;
}

.works .text-box {
  text-align: center;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.works .text-box h4 {
  width: 70%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4em;
}

.works .arrow {
  margin-top: 20px;
}

.works .arrow img {
  width: 180px;
  position: relative;
  -webkit-animation: arrows 1s ease;
          animation: arrows 1s ease;
}

@-webkit-keyframes arrows {
  0% {
    bottom: 80px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes arrows {
  0% {
    bottom: 80px;
  }
  100% {
    bottom: 0px;
  }
}
/*# sourceMappingURL=aboutme.css.map */